<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DBConnection</servlet-name>
        <servlet-class>DBConnection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginLoadServlet</servlet-name>
        <servlet-class>LoginLoadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginProcessServlet</servlet-name>
        <servlet-class>LoginProcessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>LogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBorrowerServlet</servlet-name>
        <servlet-class>AddBorrowerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckInSearchServlet</servlet-name>
        <servlet-class>CheckInSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckInBookSevlet</servlet-name>
        <servlet-class>CheckInBookSevlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>CheckOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFinesServlet</servlet-name>
        <servlet-class>UpdateFinesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBorrowerServlet</servlet-name>
        <servlet-class>SearchBorrowerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetFinesServlet</servlet-name>
        <servlet-class>GetFinesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayFineCheckServlet</servlet-name>
        <servlet-class>PayFineCheckServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayFineCheckServlet1</servlet-name>
        <servlet-class>PayFineCheckServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutBookServlet</servlet-name>
        <servlet-class>CheckOutBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPartialFinesServlet</servlet-name>
        <servlet-class>GetPartialFinesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayCheckServlet1</servlet-name>
        <servlet-class>PayCheckServlet1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DBConnection</servlet-name>
        <url-pattern>/DBConnection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginLoadServlet</servlet-name>
        <url-pattern>/LoginLoadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginProcessServlet</servlet-name>
        <url-pattern>/LoginProcessServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/LogOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBorrowerServlet</servlet-name>
        <url-pattern>/AddBorrowerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckInSearchServlet</servlet-name>
        <url-pattern>/CheckInSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckInBookSevlet</servlet-name>
        <url-pattern>/CheckInBookSevlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutServlet</servlet-name>
        <url-pattern>/CheckOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFinesServlet</servlet-name>
        <url-pattern>/UpdateFinesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBorrowerServlet</servlet-name>
        <url-pattern>/SearchBorrowerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetFinesServlet</servlet-name>
        <url-pattern>/GetFinesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayFineCheckServlet</servlet-name>
        <url-pattern>/PayFineCheckServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayFineCheckServlet1</servlet-name>
        <url-pattern>/PayFineCheckServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutBookServlet</servlet-name>
        <url-pattern>/CheckOutBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPartialFinesServlet</servlet-name>
        <url-pattern>/GetPartialFinesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayCheckServlet1</servlet-name>
        <url-pattern>/PayCheckServlet1</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
